{% extends 'movies/base.html' %}
{% load static %}


{% block title %}Lista Film Horror{% endblock %}

{% block content %}


<div class="container mt-4 text-center text-light">
  <h1 class="spooky-title">Horror Movies</h1>
  <p>Welcome to the dark side of cinema...</p>
</div>
<div class="movie-container">
    {% for movie in movies %}
    <div class="movie-card">
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}">
        {% else %}
            <img src="{% static 'movies/no-poster.png' %}" alt="No Poster">
        {% endif %}
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.director }} - {{ movie.year }}</p>
    </div>
    {% empty %}
        <p>Nessun film trovato.</p>
    {% endfor %}
</div>
{% endblock %}

